body{
  background-attachment: fixed;
  background-image:  url(rickymorty.jpg);
font-family:  Raleway, sans-serif;
width: 100%;
  display: grid;
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
  margin-top: 0;
}
