
.polo{
    background-color: #344d67;
    
    color: #6eccaf;
  
    margin: 0;
    padding: 8px 48px;
}
.yoda{
    background-color:  #b1f0dc
}

.x{
    padding: .5rem ;
    display: flex; 
    justify-content: center; 
    align-items: center;
}